* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app {
	font-family: Poppins;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: var(--primary-lighter-color);
}
